<div class="container__content">
    <div class="content__cover">
        <img src="{{ photoCover }}" alt="">
    </div>
    <div class="content__title">
        <h1>{{ contentTitle }} </h1>
        <hr>
    </div>
    <div class="content__description">
        <p>
            {{ contentDescription }} Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor enim labore optio itaque voluptatem, exercitationem vitae at totam incidunt, natus assumenda. Nemo sit veniam sint id adipisci voluptatem quo eos saepe facilis dolore soluta minima voluptas fugiat mollitia voluptatum fuga veritatis libero nihil, praesentium, assumenda exercitationem excepturi, cupiditate atque ipsum? Repellat ratione fuga quas mollitia perspiciatis quidem cum dolor explicabo?
        </p>
    </div>
    <a [routerLink]="['']">< Voltar</a>
</div>
