<div class="container__big-card">
    <div class="big-card__photo">
        <img src="../../../assets/img-place.png"  width="100%">
    </div>
    
    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versao do Angular</a></h1>
    </div>
    <div class="big-card__description">
        <p><a href="#">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum atque nesciunt eius aut accusamus error libero excepturi quam voluptate labore, quis sequi a ullam neque laboriosam voluptatibus sunt ipsam! Incidunt.
        </a></p>
    </div>
</div>
